.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: transparant;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}

@media (max-width: 600px) {
  .circle {
    visibility: hidden;
  }
}
