* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #fff !important;
  color: #000 !important;
}

@media (min-width: 700px) {
  body {
    overflow-y: hidden;
    cursor: none;
  }
}
