@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("/Hi-tech.cur"), auto;
}

a {
  cursor: url("/Hi-tech.cur"), auto;
}
.hm {
  cursor: url("/Hi-tech.cur"), auto;
}
button {
  cursor: url("/Hi-tech.cur"), auto;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #fff !important;
  color: #000 !important;
}

@media (min-width: 700px) {
  body {
    overflow-y: hidden;
  }
}

@media (max-width: 700px) {
  .side {
    display: none;
  }
}
